<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="OrdenWSPortBinding" />
        <binding name="ClienteWSPortBinding" />
        <binding name="ProductoWSPortBinding" />
        <binding name="EventoWSPortBinding" />
        <binding name="TrabajadorWSPortBinding" />
        <binding name="ComprobanteWSPortBinding" />
        <binding name="UsuarioWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/MichiSistemaWS/TrabajadorWS"
        binding="basicHttpBinding" bindingConfiguration="TrabajadorWSPortBinding"
        contract="MichiBackend.TrabajadorWS" name="TrabajadorWSPort" />
      <endpoint address="http://localhost:8080/MichiSistemaWS/ProductoWS"
        binding="basicHttpBinding" bindingConfiguration="ProductoWSPortBinding"
        contract="MichiBackend.ProductoWS" name="ProductoWSPort" />
      <endpoint address="http://localhost:8080/MichiSistemaWS/EventoWS"
        binding="basicHttpBinding" bindingConfiguration="EventoWSPortBinding"
        contract="MichiBackend.EventoWS" name="EventoWSPort" />
      <endpoint address="http://localhost:8080/MichiSistemaWS/ComprobanteWS"
        binding="basicHttpBinding" bindingConfiguration="ComprobanteWSPortBinding"
        contract="MichiBackend.ComprobanteWS" name="ComprobanteWSPort" />
      <endpoint address="http://localhost:8080/MichiSistemaWS/OrdenWS"
        binding="basicHttpBinding" bindingConfiguration="OrdenWSPortBinding"
        contract="MichiBackend.OrdenWS" name="OrdenWSPort" />
      <endpoint address="http://localhost:8080/MichiSistemaWS/UsuarioWS"
        binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding"
        contract="MichiBackend.UsuarioWS" name="UsuarioWSPort" />
      <endpoint address="http://localhost:8080/MichiSistemaWS/ClienteWS"
        binding="basicHttpBinding" bindingConfiguration="ClienteWSPortBinding"
        contract="MichiBackend.ClienteWS" name="ClienteWSPort" />
    </client>
  </system.serviceModel>
</configuration>